@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #9749b6;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#navbar {
  display: flex;
  padding-bottom: 5%;
  align-items: center;
  justify-content: center;
}

#navbar a {
  color: aliceblue;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 8%;
  font-family: "Spartan", sans-serif;
}

#areap {
  margin-top: 3%;
  display: inline-block;
  align-items: center;
  justify-content: left;
  max-width: 500px;
  padding-right: 10%;
  padding-bottom: 3%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #5b3c68;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

#box a {
  margin-right: 2.5%;
  margin-left: 2.5%;
  display: inline-block;
  vertical-align: 2000%;
  font-size: 20px;
}
#areap a {
  margin-left: 73%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  color: aliceblue;
  font-family: "Spartan", sans-serif;
}
#tinkercad {
  margin-left: 15%;
  margin-top: 5%;
  border-radius: 10px;
}

#tinkercad p {
  color: rgb(240, 248, 255, 0.8);
}

#scratch p {
  color: rgb(240, 248, 255, 0.8);
}

#yt {
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  display: flex;
}
#scratch {
  margin-top: 12%;
  margin-left: 15%;
  border-radius: 10px;
}

#intro {
  justify-content: center;
  align-items: center;
  display: flex;
}

#titulo {
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
}

#titulo h2{
  color: #3d3d3d;
  font-size: 30px;
}


#intro h1 {
  margin-top: 50px;
  font-weight: 600;
  font-size: 40px;
}

#linha-horizontal {
  margin-top: 30px;
  width: 600px;
  border: 1px solid #000;
}

#linha {
  justify-content: center;
  align-items: center;
  display: flex;
}

#linha-horizontal2 {
  margin-top: 30px;
  width: 400px;
  border: 1px solid #3d3d3d;
}

#linha2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

#txtintro a {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Exo 2", sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: 25px;
}

#txtintro p {
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Exo 2", sans-serif;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: 24px;
}

@media (max-width: 455px) {
  #tinkercad {
    margin-top: 0%;
    margin-left: 0%;
    max-width: 200px;
  }

  #box {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
